*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: #a1c3ff;
}
img{
    max-width: 100%;
}

h1,h2{
    margin-bottom: 15px;
}
.container{
    max-width: 1100px;
    /* center container*/
    margin: 0 auto;

    padding: 0 30px;
}

.navbar{
    background: #3474e6;
     color: #fff;
    height: 60px;
}
.navbar .logo{
    font-size: x-large;
    font-weight: bold;
}
.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*height of navbar */
    height: 100%;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    margin-left: 20px;
}
.navbar a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
.navbar a:hover{
    color: lightblue;
}
 
.header{
    background: #0151cc;
    color: #fff;
    min-height: 400px;
}
.header .message{
    flex: 1;
    text-align: center;
    padding: 30px;
}
.header .img{
    display: flex;
     
    flex-wrap: wrap;
    padding: 10px;
    width: 400px;
    height: 400px;
    
    justify-content: center;
    align-items: center;
}
.header .img .imgbox{
    width:5rem;
    height: 5rem;
    border: 10px solid lightgreen;
    opacity: 0.5;
    border-radius: 5px;
    margin: 10px;
  
}
.header h1{
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
}
.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.boxes .container{
    display: flex;
    justify-content: space-between;
}
.box{
    flex:1;
    background: #0151cc;
    color: #fff;
    border-radius: 5px;
    margin: 20px 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    padding: 15px 20px;
    text-align: center;
}

@media(max-width:768px){
    .header .container{
        flex-direction: column;
    }
    .boxes .container{
        flex-direction: column;
    }
}